@import '_mixins.scss';
@import '_variants.scss';

.main {
	height: 100%;
	overflow: hidden;

	.presentation {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: flex-start;
		align-items: center;
		gap: 20px;

		.presentation-video {
			video {
				width: 100%;
			}

			h1 {
				text-align: center;
				color: map-get($colors, 'primary');
				font-size: 2em;
				margin-top: 10px;
			}
		}

		.presentation-aboutme, .presentation-profesion  {
			width: 80%;
			text-align: center;
			margin: 0 auto;

			p {
				color: map-get($colors, 'third');
				line-height: 2em;
			}
		}

		.btn-porfolio {
			display: flex;

			a {
				margin: 0px 20px;
				padding: 10px;
				border-radius: 10px;
				border: 1px solid map-get($colors, 'primary');
				background-color: map-get($colors, 'third');
				color: map-get($colors, 'primary');
				;
				text-decoration: none;
				display: inline-block;
				transition: transform 0.5s ease-in-out;
			}

			&>a:hover {
				transform: scale(1.2);
			}
		}
	}

	.technology {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: flex-start;
		align-items: center;
		gap: 15px;
		padding: 20px 0;
		border-left: 1px solid rgba(255, 255, 255, 0.3);
		border-right: 1px solid rgba(255, 255, 255, 0.3);
		overflow: hidden;
		text-align: center;

		audio {
			width: 80%;
			margin-top: 10px;
			height: 35px;
		}

		.window {
			overflow: hidden;
			height: 65%;
			width: 100%;

			.carousel {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 20px;
				animation: scroll-vertical 20s linear infinite;

				@keyframes scroll-vertical {
					0% {
						transform: translateY(0);
					}

					100% {
						transform: translateY(-50%);
					}
				}

				.card {
					width: 60%;
					padding: 10px 0px;

					svg {
						width: 40px;
						padding: 10px;
						filter: grayscale(100%);
						transition: filter 1s ease-in-out;
					}

					p {
						color: map-get($colors, 'third');
						font-size: 1em;
						transition: color 1s ease-in-out;

						&:hover {
							color: map-get($colors, 'primary');
						}
					}
				}
			}
		}


	}

	.project {

		overflow: scroll;
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		gap: 15px;

		img {
			width: 400px;
			height: auto;
			object-fit: cover;
			transition: border 1s ease-in-out, filter 1s ease-in-out;
			box-sizing: border-box;
			filter: grayscale(100%);
		}

		img:hover {
			border: 2px solid map-get($colors, 'primary');
			filter: grayscale(0%);
		}

		&::-webkit-scrollbar {
			width: 8px;
		}
	}
}