@media (max-width: 1024px) {

    html,
    body {
        height: auto;
        overflow: auto;
    }

    .container {
        height: auto;
        display: grid;
        grid-template-columns: 2rem repeat(2, 1fr) 2rem;
        grid-template-rows: auto;
        gap: 10px;

        .header,
        .footer {
            grid-column: 1 / 5;
        }

        .main {
            grid-column: 2 / 4;
            height: auto;
            overflow: visible;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

            &>*:nth-child(3) {
                grid-column: 1 / 3;
            }

            .presentation,
            .technology,
            .project {
                height: auto;
                min-height: 0px;
                padding: 10px 0;
                justify-content: space-evenly;
                gap: 15px;
            }

        }
        .footer {
                .container-footer {
                    width: 90%;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    text-align: center;
                }
            }
    }


    @media (max-width: 768px) {

        html,
        body {
            height: auto;
            overflow: auto;
        }

        .container {
            height: auto;
            grid-template-columns: 1rem 1fr 1rem;
            grid-template-rows: auto;

            .header,
            .footer {
                grid-column: 1 / 4;
            }

            .main {
                grid-column: 2 / 3;
                height: auto;
                overflow: visible;
                display: grid;
                grid-template-columns: 1fr;
                gap: 0.5rem;

                &>*:nth-child(3) {
                    grid-column: 1 / 2;
                }

                .project {
                    overflow: visible;
                    justify-content: center;

                }

                .technology {
                    border-left: none;
                    border-right: none;

                    border-top: 1px solid rgba(255, 255, 255, 0.3);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                    padding: 20px 0;

                }
                .presentation, .technology, .project {
                height: auto;
                min-height: 0;
                padding: 15px 0;
                gap: 15px;
            }
            }

            .footer {
                .container-footer {
                    width: 90%;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    text-align: center;
                }
            }
        }
    }
}