@import '_reset.scss';
@import '_grid.scss';
@import '_mixins.scss';


@import '_header.scss';
@import '_main.scss';
@import '_footer.scss';
@import '_media-querys.scss';


body {
    background-color: map-get($colors, 'secondary');
    color: map-get($colors, 'third');
}